node_modules/
backend/uploads/*
backend/converted/*
!backend/uploads/.gitkeep
!backend/converted/.gitkeep
.env
.DS_Store
*.log
frontend/assets/profile-pictures/*
frontend/assets/chat-media/*
frontend/assets/feed-media/*
frontend/assets/event-media/*
!frontend/assets/profile-pictures/.gitkeep
!frontend/assets/chat-media/.gitkeep
!frontend/assets/feed-media/.gitkeep
!frontend/assets/event-media/.gitkeep
